@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}

@layer utilities {
  @keyframes blink{
    0%, 100% { opacity: 1; }
    50% { opacity: 0; } 
  }
  @keyframes slideDown {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out forwards;
}